<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" href="../botstrap_css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../custom_css/test.css" />
</head>

<body>
    <div class="navbar  navbar-default navbar-static-top " role="navigation>">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class=" test navbar-brand">Test page</a>
            </div>
            <ul class="nav ">
                <li><a href="/product" class="product navbar-brand">Products</a></li>
                <li><a href="/admin" class="admin navbar-brand">Admin</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="imgdiv">
            <% if(picdoc.length!=0){ %>
                <h1>
                    <%= picdoc[0].text %>
                </h1>
                <span> <img class="defimg" src=<%="../prd_images/" + picdoc[0]._id+ "/"+picdoc[0].picPath %>>
                    
                </span>
                <% } else { %>
                    <h1 class="defh1">img nkar</h1>
                    <img class="defimg" src="../prd_images/defimg/defoult.jpg">
                    <% } %>
        </div>
    </div>
</body>

</html>